@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Laila:wght@300;400;500;600;700&family=Macondo&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #361f4bf7;
    color: white;
    height: 4rem;
    line-height: 4rem;
    font-family: "Macondo", cursive;
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    gap: 5rem;
}

.score{
    font-family: "Laila", serif;
    font-weight: 600;
}

#user-score, 
#comp-score{
    font-size: 2.5rem;
    font-family: "Macondo", cursive;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #361f4bf7;
    color: white;
    font-size: 1.5rem;
    display: inline;
    padding: 0.8rem;
    border-radius: 1rem;
    font-family: "Macondo", cursive;
    font-weight: 600;
}

@media only screen and (max-width: 580px){ 
    .choices{
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 0;
    }
    .choice{
        height: 135px;
        width: 135px;
    }
    img {
        height: 120px;
        width: 120px;
    }
    .score-board{
        font-size: 1rem;
        margin-top: 1rem;
        gap: 4rem;
    }
    #user-score, 
    #comp-score{
        font-size: 2rem;
    }
    .msg-container{
        margin-top: 3rem;
    }
    #msg{
        font-size: 1rem;
        padding: 0.6rem;
    }
    h1{
        font-size: 1.5rem;
    }

}